<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  John and David are computer science majors at the University of Maryland.
  They are both currently seniors and are producing this site for their
  class, CMSC424.
</p>