<%= form_for(@course.enrollments.build(user_id: current_user.id),
			 remote: true) do |f| %>
  <div>
    <%= f.hidden_field :user_id %>
	<%= f.hidden_field :course_id %>
  </div>
  <%= f.submit "Enroll", class: "btn btn-large btn-primary" %>
<% end %>